<header>
            <nav class="navbar navbar-expand-sm fixed-top shadow" style="background-color: #008B8B">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="/assets/img/logo.png" class="image-fluid" alt="Logo" width="30" height="24"><h4 style="padding-left: 5px; color: #fff;">Bio na Rede</h4></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expansivo" aria-controls="#expansivo" aria-expanded="false" aria-label="Alterna Navegação"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="expansivo">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="conteudos.html" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-microscope"></i>Conteúdos</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">1</a>
                                <a href="#" class="dropdown-item">2</a>
                                <a href="#" class="dropdown-item">3</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                </div>
            </nav>
            <div class="jumbotron jumbotroin-fluid intro">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <h1>{{ page.title }}</h1>
                            <h4>{{ page.description }}</h4>
                            <time>{{ page.date | date: "%b, %-d %Y" }}</time>
                        </div>
                    </div>
                </div>
            </div>
        </header>