<header>
            <nav class="navbar navbar-expand-sm fixed-top shadow" style="background-color: #008B8B"
                <a class="navbar-brand" href="#"></a>
                    <img src="/assets/img/logo.png" class="image-fluid" alt="Logo" width="30" height="24" href="{{ index }}"><h4 style="padding-left: 5px; color: #fff;">Bio na Rede</h4></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expansivo" aria-controls="#expansivo" aria-expanded="false" aria-label="Alterna Navegação"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="expansivo">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown">
                            <a href="conteudos.html" class="nav-link dropdown-toggle" data-toggle="dropdown"><i class="fas fa-microscope"></i>Conteúdos</a>
                            <div class="dropdown-menu">
                                <a href="#" class="dropdown-item">1</a>
                                <a href="#" class="dropdown-item">2</a>
                                <a href="#" class="dropdown-item">3</a>
                            </div>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                </div>
            </nav>
            <div class="jumbotron jumbotroin-fluid intro">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mb-4 mt-5">
                            <h3>Missão:</h3>
                            <p>Somos um canal apaixonado pela Biologia e com desejo de torná-los também encantados por ela. Nossa missão é colaborar com a divulgação de conhecimentos da área e assim disponibilizar e sugerir conteúdos científicos para estudantes  e também materiais que possam ser aproveitados por professores em suas aulas.</p>
                            <h3>Visão:</h3>
                            <p>Desejamos estimular um aprendizado de Biologia prático, dinâmico, instigador, contextualizado e colaborar para a divulgação de conhecimentos científicos, entendendo que a ciência está presente em nosso dia a dia e nos ajuda a compreender melhor o mundo que nos cerca e a importância de preservá-lo. Para isso, indicamos, produzimos e divulgamos materiais didáticos diversos destinados a estudantes/professores. Aqui vocês poderão encontrar vídeos, jogos, atividades, práticas, experimentos, entre outros recursos para aprendizado de Biologia.</p>
                            <h3>Valores:</h3>
                            <p>Entendemos que um aprendizado contextualizado é muito mais significativo. Nosso compromisso é com a ciência e não com o negacionismo. É com a verdade e não com fakes. É com a libertação por meio do conhecimento e não com a domesticação. Está a fim de se libertar e aprender mais sobre ciência? Então entra nessa rede e vem com a gente!</p>
                        </div>
                        <div class="col-sm-6">
                            <img src="/assets/img/intro.png" alt="Intro" class="img-fluid mb-4 mt-5"> <!--scréditos da img: https://search.creativecommons.org/photos/9971d3d6-d289-4dda-ab53-48eebd5906ad-->
                        </div>
                    </div>
                </div>
            </div>
        </header>