<head>
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description}}">
    <link rel="shortcut icon" href="/assets/img/logo.png">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/assets/css/main.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.13.0/css/all.css">
    <style media="screen">
        body {background: #fff; font-family: cursive}
        .intro {background-image: url(/assets/img/bg.jpg);width: 100%;min-height: 33%;background-size: cover;background-position: center; color: #fff;} 
        .navbar .navbar-nav .nav-link {color: #fff}
        footer {color: #fff;}
    </style>
    <!--créditos da img: https://search.creativecommons.org/photos/0ce236f2-68d9-432b-9367-5d91a566428d-->
    
  </head>