<header>
            <nav class="navbar navbar-expand-sm fixed-top shadow" style="background-color: #008B8B"
            <a class="navbar-brand" href="#"></a>
                    <img src="/assets/img/iflogo.png" class="image-fluid" alt="Logo" width="35" height="50" href="{{ index }}"><img src="/assets/img/bnr.png" class="image-fluid" width="140" height="30" hspace="15"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expansivo" aria-controls="#expansivo" aria-expanded="false" aria-label="Alterna Navegação"><span class="navbar-toggler-icon"></span></button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" href="conteudos.html"><i class="fas fa-microscope"></i>Conteúdos</a>
                        </li>
                    </ul>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Pesquisar" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><i class="fas fa-search"></i></button>
                    </form>
                </div>
                </div>
            </nav>
            <div class="jumbotron jumbotroin-fluid intro">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 mb-4 mt-5">
                            <h3>Missão:</h3>
                            <p>Abordar conhecimentos das ciências biológicas, visando facilitar e ampliar a compreensão do estudo aprofundado.</p>
                            <h3>Visão:</h3>
                            <p>Desejamos auxiliar na aprendizagem da área acadêmica, auxiliando no investimento independente da prática da biologia em si, visando o ensino e compreensão de qualidade.</p>
                            <h3>Valores:</h3>
                            <p>Indicaremos materiais didáticos, pesquisas e artigos, vídeos e semelhantes, para que assim, a compreensão e uso de pesquisa do estudo da biologia permaneça em constante atualização.</p>
                        </div>
                        <div class="col-sm-6">
                            <img src="/assets/img/intro.png" alt="Intro" class="img-fluid mb-4 mt-5"> <!--scréditos da img: https://search.creativecommons.org/photos/9971d3d6-d289-4dda-ab53-48eebd5906ad-->
                        </div>
                    </div>
                </div>
            </div>
        </header>