<header>
            <nav class="navbar navbar-expand-sm fixed-top shadow" style="background-color: #008B8B">
                <a class="navbar-brand" href="{{ site.baseurl }}/">
                    <img src="/assets/img/lifbg.png" class="image-fluid" alt="Logo" width="151" height="50"><img
                    src="/assets/img/bnr.png" class="image-fluid" width="140" height="30" hspace="15"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expansivo" aria-controls="#expansivo" aria-expanded="false" aria-label="Alterna Navegação"><span class="navbar-toggler-icon"></span></button>
            </nav>
            <div class="jumbotron jumbotroin-fluid intro">
                <div class="container">
                    <div class="row">
                        <div class="col titulopost">
                            <h1>{{ page.title }}</h1>
                            <h4>{{ page.description }}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </header>