<header>
    <nav class="navbar navbar-expand-sm fixed-top shadow" style="background-color: #008B8B"> 
        
        <img src="/assets/img/lifbg.png" class="image-fluid" alt="Logo" width="161" height="50" href="{{ index }}"><img
            src="/assets/img/bnr.png" class="image-fluid" width="140" height="30" hspace="15"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#expansivo"
            aria-controls="#expansivo" aria-expanded="false" aria-label="Alterna Navegação"><span
                class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="conteudos.html"><i class="fas fa-microscope"></i>Conteúdos</a>
                </li>
            </ul>
        </div>
        </div>
    </nav>
    <div class="jumbotron jumbotroin-fluid intro">
        <div class="container" class="cumbuca" class="cheddar">
            <div class="divt" class="col-sm-6 mb-4 mt-5" class="cheddar">
                <h1 style="text-align: center;"><i class="fas fa-seedling"></i>Sobre Nós</h1>
                <br>
                <h3>Missão:</h3>
                <p>Fazemos parte de um projeto de pesquisa do IFSC Caçador. Nossa missão é colaborar com a divulgação de conhecimentos de 
                Biologia, disponibilizando e sugerindo conteúdos científicos para estudantes e materiais que possam ser aproveitados por 
                professores em suas aulas.
                </p>
                <h3>Visão:</h3>
                <p>Desejamos estimular um aprendizado de Biologia prático, dinâmico, instigador, contextualizado e colaborar para a 
                divulgação de conhecimentos científicos, entendendo que a ciência está presente em nosso dia a dia e nos ajuda a compreender 
                melhor o mundo que nos cerca e a importância de preservá-lo.
                </p>
                <h3>Valores:</h3>
                <p>Entendemos que um aprendizado contextualizado é muito mais significativo. Nosso compromisso é com a ciência e não com o 
                negacionismo. É com a verdade e não com <i>fakes</i>. É com a libertação por meio do conhecimento e não com a domesticação. 
                Está a fim de se libertar e aprender mais sobre ciência? Então entra nessa rede e vem com a gente!
                </p>
            </div>
            <div class="divi" class="cheddar" class="col-sm-5">
                <img src="/assets/img/intro.png" alt="Intro" class="img-fluid mb-4 mt-5">
                <!--scréditos da img: https://search.creativecommons.org/photos/9971d3d6-d289-4dda-ab53-48eebd5906ad-->
            </div>

        </div>
    </div>
    </div>
</header>