<!DOCTYPE html>
<html lang="pt-br">
    {% include head.html %}
  <body>
    <div class="container-fluid px-0">
        {% include header-conteudos.html %}
        <div class="container">
          {{content}}
        </div>

        {% include artigos.html %}

        {% include footer.html %}
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<!--
*Fontes:*

*_icons site:_* https://fontawesome.com/v5.15/icons?d=gallery&p=3&m=free
_+search:_ https://fontawesome.com/v5.15/icons/search?style=solid
_+microscope:_ https://fontawesome.com/v5.15/icons/microscope?style=solid
_+seending:_ https://fontawesome.com/v5.15/icons/seedling?style=solid

*_imgs site:_* https://www.flaticon.com/br/icones-gratis/biologia
_bg:_ https://search.creativecommons.org/photos/0ce236f2-68d9-432b-9367-5d91a566428d
_intro:_ https://search.creativecommons.org/photos/9971d3d6-d289-4dda-ab53-48eebd5906ad
_+logo/favicon:_ https://www.flaticon.com/br/icone-gratis/biologia_1741986?term=biologia&page=1&position=43&page=1&position=43&related_id=1741986&origin=tag
-->
